
/* Design of drop area */
.outer-boundary {
  height: 250px;
  width: 250px;
  border: 1px solid black;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 20px auto;
  background-color: blue;
}

.drop-area {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 20px auto;
}

.nested-area {
  height: 100px;
  width: 150px;
  border: 1px solid black;
  display: grid;
  align-items: center;
  justify-items: center;
}

.highlight{
  background-color: darksalmon;
}

/* Design of draggable image */
.draggable {
  height: 40px;
  width: 40px;
}